html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
